# Database
MONGO_URL=mongodb://localhost:27017/jobaio
PORT=5001

# Or for cloud databases:
# DATABASE_URL="postgresql://username:password@ep-xxx-xxx.us-east-1.aws.neon.tech/neondb"

# AI/Translation
HUGGINGFACE_API_KEY="your-huggingface-api-key"
HF_API_TOKEN="your-huggingface-api-token"
OPENAI_API_KEY="your-openai-api-key"
# Helsinki-NLP API (if using external service)
HELSINKI_NLP_API_KEY="your-helsinki-nlp-api-key"

# Job Scraping + AI
GEMINI_API_KEY="your-gemini-api-key"
# gemini gemini-3-pro-preview/gemini-2.5-flash
GEMINI_MODEL_NAME=gemini-2.5-flash

# ollama
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_MODEL="my-ollama-model"

# AI Choice: "gemini" or "local" (for Ollama)
AI_CHOICE="gemini" 

# Development
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional: Logging
LOG_LEVEL="info"

# Optional: External APIs
